a.active-link {
  background-color: #679a41; /* user's primary color */
  color: white;
  box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 0.05);
}

:host-context(.dark) a.active-link {
    background-color: #679a41; /* user's primary color */
    color: white;
}

/* Base icon color */
a:not(.active-link) app-icon {
    color: #679a41; /* user's primary color */
}
:host-context(.dark) a:not(.active-link) app-icon {
    color: #8cc866; /* a lighter shade for dark mode */
}

/* Hover icon color */
a:not(.active-link):hover app-icon {
    color: #537d34; /* darker shade */
}
:host-context(.dark) a:not(.active-link):hover app-icon {
    color: #679a41; /* primary color on hover in dark */
}

/* Active icon color */
a.active-link app-icon {
    color: white;
}

.sticky img{
  height: 3.75rem;
}